<div class="settings-products">

    <h3>Manage cards</h3>
    <div class="products-list col-xs-12 col-md-8">
        <div ng-repeat="item in products" class="product-item">
            <div class="product-header">
                <div class="title pull-left">
                    <h4>{{item.name}}</h4>
                </div>
                <div class="action pull-right">
                    <div class="dropdown">
                        <a href="" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" href="" ng-click="edit(item)">Edit</a></li>
                            <li role="presentation"><a role="menuitem" href="" ng-click="remove(item)">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="products-action col-xs-6 col-md-4">
        <a class="btn btn-sm btn-success btn-block"  ng-click="create()"><i class="fa fa-plus" ></i> Create a product</a>
    </div>
</div>
