<ui-view id="classes">
    <div ncy-breadcrumb></div>
    <div class="header">
        <h3>You are in {{classes.length}} class</h3>
        <div class="tools">
            <div class="container-fluid" style="  padding: 0;">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="search.name">
            </div>
        </div>
    </div>
    <div class="repeat-item" ng-repeat="set in sets | filter:search">
        <div class="item">
            <div class="title">
                <a href="#" ui-sref="sets.set({setId: set.id})">{{set.name}}
                    <div class="langs">{{set.termsLang.name}} <i class="fa fa-arrows-h"></i> {{set.definitionsLang.name}}</div>
                </a>

            </div>
        </div>
    </div>
</ui-view>