@(resetForm:Form[(String, String)], mailToken: String)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

<html>
  <head>
    <title>rema7</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" href='@routes.Assets.at("lib/bootstrap/css/bootstrap.css")'>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bower_components/flat-ui/dist/css/flat-ui.css")">
    @*<script data-main="@routes.Assets.at("js/main.js")" type="text/javascript" src="@routes.Assets.at("lib/requirejs/require.js")"></script>*@
    <link rel="stylesheet" href='@routes.Assets.at("css/main.css")'>
  </head>
  <body>
    <div class="container-fluid">
      <div class="login-screen">
        @*<div class="login-form">*@
        @request.flash.get("error").map { msg =>
          <div class="alert alert-error">
            @Messages(msg)
          </div>
        }

        <form action="@env.routes.handleResetPasswordUrl(mailToken)" class="login-form" autocomplete="off" method="post">
          @CSRF.formField
          <a class="btn link-cancel" href="@env.routes.loginPageUrl">@Messages("securesocial.signup.cancel")</a>
          <div class="form-group">
            <h4>Reset password</h4>
          </div>
          <div class="form-group" style="margin-bottom: 5px;">
            <label>Password</label>
            <input type="password" class="form-control login-field" value="" placeholder="Enter password" name="password.password1" id="firstName">
          </div>
          <div class="form-group">
            <label>Repeat password</label>
            <input type="password" class="form-control login-field" value="" placeholder="Repeat password" name="password.password2" id="firstName">
            @*<label class="login-field-icon fui-lock" for="login-name"></label>*@
          </div>

          <button type="submit" class="btn btn-primary btn-block">@Messages("securesocial.password.reset")</button>
          @*<div class="form-group">*@
          @*</div>*@

        </form>
      </div>
    </div>
    @*</div>*@
  </body>
</html>