<h5>
    Dashboard
    <small>services</small>
</h5>

<div class="row">
    <a href="" ng-click="linkInstagram()">Instagramm</a>
</div>

<div>
    <div ng-repeat="account in accounts">
        <a href="" class="account-block">
            <div class="wrapper">
                <img src="{{account.profilePicture}}">
                <div class="account-name">{{account.username}}</div>
                <div class="fui-instagram account-icon" ng-if="account.provider === 'instagram'"></div>
            </div>
        </a>
        <!--{{account}}-->
    </div>
</div>

