<div class="modal-header">
    <h4 class="modal-title" ng-if="!editFlag">Create a new class</h4>
    <h4 class="modal-title" ng-if="editFlag">Edit your class </h4>
</div>
<div class="modal-body">
    <form ng-submit="saveApp()" >
        <div class="form-group">
            <label for="titleInput">Title</label>
            <input type="text" class="form-control" id="titleInput" placeholder="Enter study set tile" ng-model="item.name">
        </div>
        <div class="form-group">
            <label for="shortnameInput">Short name</label>
            <input type="text" class="form-control" id="shortnameInput" placeholder="Enter short name" ng-model="item.shortName">
        </div>
        <div class="form-group">
            <label for="descrInput">Description<small>*</small></label>
            <textarea type="text" class="form-control" id="descrInput" placeholder="Enter study set tile" ng-model="item.description"/>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()" ng-if="!editFlag">Create</button>
    <button class="btn btn-primary" ng-click="save()" ng-if="editFlag">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-danger pull-left" ng-click="remove()" ng-if="editFlag"><i class="fa fa-fw fa-trash"></i>Remove</button>
</div>
