<ui-view id="cards-set">
    <div ncy-breadcrumb></div>
    <div class="header">
        <h3>{{set.name}} <a ui-sref="sets.set.edit({setId: set.id})"><i class="fa fa-edit"></i></a></h3>
    </div>
    <div class="cards container-fluid">
        <div class="row">
            <table class="table">
                <tbody>
                <tr ng-repeat="card in set.cards">
                    <td>
                        <div class="input-group">
                            <div>{{card.term}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <div>{{card.transcription}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <div>{{card.definition}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" ng-click="editInline()"><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-default" ng-click="editInline()"><i class="fa fa-pencil"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ui-view>