@import "../../../public/bower_components/flat-ui/less/variables";

.login-screen {
  min-height: 0;
  padding: 0;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  .login-title {
    font-size: 29px;
    margin-bottom: 15px;
  }

  .link-cancel {
    padding: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    &:hover {
      color: @turquoise;
    }

  }

  .login-form {
    //width: 40%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 420px;

    .form-label {
      font-size: 16px;
      margin: 0;
    }

    .login-link {
      text-align: right;
    }

    .registration-link {
      color: @green-sea;
      text-align: center;
      font-size: 16px;

      &:hover {
        color: @turquoise;
      }
    }
  }
}