
.login-screen {
  min-height: 0;
  padding: 0;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  .login-form {
    //width: 40%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 420px;

    .login-link {
      text-align: right;
    }
  }
}