@()(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
<html>
    <head>
        <title>rema7</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href='@routes.Assets.at("lib/bootstrap/css/bootstrap.css")'>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bower_components/flat-ui/dist/css/flat-ui.css")">
        <script type="text/javascript" src="@routes.JavascriptRouters.jsRoutes"></script>
        <script data-main="@routes.Assets.at("js/main.js")" type="text/javascript" src="@routes.Assets.at("lib/requirejs/require.js")"></script>
        <link rel="stylesheet" href='@routes.Assets.at("css/main.css")'>
    </head>
    <body>

        <div class="container-fluid">
            <div class="login-screen">

                <div class="login-form">
                    <div class="form-group">
                        <a class="btn btn-info btn-lg btn-block" href="@env.routes.authenticationUrl("facebook")">Facebook</a>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control login-field" value="" placeholder="Enter your email" id="login-name">
                        <label class="login-field-icon fui-mail" for="login-name"></label>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                        <a class="login-link float-left" href="#">Lost your password?</a>
                    </div>

                    <a class="btn btn-primary btn-lg btn-block" href="#">Log in</a>
                    <a class="btn btn-inverse btn-lg btn-block" href="#">Register</a>

                </div>
            </div>
        </div>

    </body>

</html>