@(loginForm: Form[(String,String)], errorMsg: Option[String] = None)(implicit request: RequestHeader, lang: Lang, env:securesocial.core.RuntimeEnvironment[_])


<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>rema7</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href='@routes.Assets.at("lib/bootstrap/css/bootstrap.css")'>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bower_components/flat-ui/dist/css/flat-ui.css")">
        <script type="text/javascript" src="@routes.JavascriptRouters.jsRoutes"></script>
        <script data-main="@routes.Assets.at("js/main.js")" type="text/javascript" src="@routes.Assets.at("lib/requirejs/require.js")"></script>
        <link rel="stylesheet" href='@routes.Assets.at("css/main.css")'>
    </head>
    <body>

        <div class="container-fluid">
            <div class="login-screen">

                    <form action="@env.routes.authenticationUrl("userpass")" class="login-form" autocomplete="off" method="post">
                        <div class="form-group">
                            <h4 style="margin-top: 0">SignIn</h4>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control login-field" value="" placeholder="Enter your email" name="username" id="login-name">
                            <label class="login-field-icon fui-mail" for="login-name"></label>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control login-field" value="" placeholder="Password" name="password" id="login-pass">
                            <label class="login-field-icon fui-lock" for="login-pass"></label>

                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Log in</button>
                        </div>

                        @*<div class="signup-or-separator">*@
                            @*<h6 class="text">or</h6>*@
                            @*<hr>*@
                        @*</div>*@

                        <div class="form-group">
                            <a class="btn btn-info btn-lg btn-block" href="@env.routes.authenticationUrl("facebook")">
                                <i class="fui-facebook" aria-hidden="true"></i> Facebook</a>
                            <a class="btn btn-info btn-lg btn-block" href="@env.routes.authenticationUrl("vk")">
                                <i class="fui-vkontakte" aria-hidden="true"></i> Vkontakte</a>
                        </div>

                        <div class="actions">
                            <span><a class="" href="@env.routes.startResetPasswordUrl">Forgot password?</a></span>
                            <span style="float: right">Don't have an account ? &nbsp;<a class="register-link" href="@env.routes.startSignUpUrl">Get Started</a></span>
                        </div>
                    </form>




            </div>
        </div>

    </body>

</html>