@(userForm: Form[AuthForm])(implicit flash: Flash, lang: Lang)


@main(Messages("foods.form")) {
  @*<h2>@Messages("foods.form")</h2>*@
  <h2>Registration</h2>
  @helper.form(action = routes.Authentication.registerSubmit()) {
    <fieldset>
      <legend>
      Registration
      </legend>
      @if(flash.get("success").isDefined){
        <div class="alert alert-success">
           @flash.get("success")
        </div> }
      @if(flash.get("error").isDefined){
        <div class="alert alert-error">
           @flash.get("error")
        </div>
      }
      @helper.inputText(userForm("email"))
      @helper.inputPassword(userForm("password"))
      @helper.inputPassword(userForm("repeatedPassword"))
    </fieldset>
    <p>
      <input type="submit" class="btn primary" value='Register'>
    </p>
  }
}