<div ui-view="flashCardsView">
    <div class="settings-products" >
        <h3>Flash cards</h3>
        <div class="products-list col-xs-12 col-md-8">
            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Original</th>
                    <th>Transcription</th>
                    <th>Translation</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items" class="flashcard-item">
                    <td>{{item.original}}</td>
                    <td>{{item.transcription}}</td>
                    <td>{{item.translation}}</td>
                    <td><a href="" ng-click="edit(item)"><i class="fa fa-cog"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="products-action col-xs-6 col-md-4">
            <a class="btn btn-sm btn-success btn-block"  ng-click="create()"><i class="fa fa-plus" ></i> Add new FlipCards</a>
        </div>
    </div>
</div>